/* ECECEC  */

body {
	min-width: 980px;
	}
h1 {
	font-size: 22px;
	margin-bottom: 0.3em;
}

h1,h2 {
	color: #333333;
}

h3 {
	color: #5A86A0;
}

p {
	font-size: 12px;
	line-height: 1.5em;
	color: #333333;
}


input[type="text"], input[type="password"], textarea {
    width: 200px;
}

input.rich-calendar-input {
	width: 80px;
}


/*** DL Definitonen ****/
dl {
	font-size: 12px;
}

dl dt {
	width: 120px;
	margin: 0;
	padding: 5px;
	font-weight: bold;
}

dl dd {
	padding: 5px;
}

/*** DL 2 Column Layout ***/
dl.columns-2 {
	clear: left;
	width: 680px;
}

dl.columns-2 dt {
	float: left;
	width: 120px;
	padding: 0;
}

dl.columns-2 dd {
	float: left;
	width: 220px;
	padding: 0 0 0 0;
}




#sywapp-footer {
	border-top: 1px solid #58AAD5;
	margin-right: 0px;
}

#sywapp-branding {
	background-image: url("background.png");
	background-repeat: no-repeat;
	background-position: 5px 6px;
	height: 100px;
	background-color: #83C6EA;
	border: 2px solid #83C6EA;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#sywapp-branding-text {
	color: #FFF;
	margin-left: 360px;
	font-size: 36px;
	font-weight: normal;
}

#sywapp-servicenav {
	border: 0 none;
	clear: both;
	font-size: 11px;
	margin: 0 0 0 0;
	padding: 0 0;
	text-align: right;
}

#sywapp-servicenav a,#sywapp-footer a {
	color: #12222B;
}

#sywapp-topnav ul {
	margin: 0 0 0 10px;
}

#sywapp-topnav a {
	color: #1c7cb0;
}

/*
 * RichPanel für Masken Abschnitte 
 */
#sywapp-sidebar .rich-panel {
	padding: 0em;
	background: transparent;
	border: 2px solid #83C6EA;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px 10px;
}

#sywapp-sidebar  .sywapp-commandbox {
	background: #ECF3F8;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-size: 12px;
	color: #666;
}

.sywapp-commandbox .rich-panel-header {
	border: 0 none;
	padding: 0;
	font-size: 11px;
	margin-bottom: 4px;
}


#sywapp-sidebar .sywapp-newsentry {
	border-top: 1px solid #D6EBF5;
	margin: 0px 0 10px 0;
	padding: 0px;
	xcolor: #FFFFFF;
	font-size: 11px;
	list-style: none;
}

#sywapp-sidebar .sywapp-newsentry p {
	margin: 0px 0 0px 0;
}



#sywapp-sidebar ul {
	list-style: square;
	display: block;
	margin: 0em 0em 0em 10px;
	padding: 0px;
	xtext-transform: uppercase;
	font-size: 11px;
}

#sywapp-sidebar h1,#sywapp-sidebar h2 {
 	font-size:11px;
 	font-weight: bold;	
}

#sywapp-sidebar  .sywapp-projecttree {
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-size: 12px;
	color: #666;
	padding-left: 0px;
}

.sywapp-projecttree .rich-panel-header {
	border: 0 none;
	padding: 0 0 0 10px;
	font-size: 11px;
	margin-bottom: 4px;
}

#sywapp-content {
	margin-left: 0em;
}

.sywapp-info-box {
	background: #ECF4FE;
	border: 1px solid #BED6F8;
	padding: 5px 5px 5px 36px;
	margin-right: 10px; 
	margin-top: 5px;
	margin-bottom: 10px;
	background-image: url("./../icons/Help_24.png");
	background-position: 5px 5px;
	background-repeat: no-repeat;
	min-height: 24px;
	font-size: 11px;
}

/* 
 * Die Klasse viewentry wird für die Darstellung von Views verwendet.
 * die Klasse wird als RowClass im element rich:dataList  verwendet
 * font-size: 0.8em
 */
.sywapp-viewentry {
	border-bottom: 0px solid #FFD7A8;
	margin: 5px 0 20px;
}

.sywapp-viewentry a {
	font-size: 12px;
}

.sywapp-viewentry-nav {
	border-top: 1px solid #FFD7A8;
}

.sywapp-viewentry:HOVER {
	background: #ECF3F8;
	xxxborder-top: 1px solid #58AAD5;
}

/* ECECEC */
.sywapp-viewentry-nav li:HOVER,.sywapp-viewentry-nav a:HOVER {
	background: #58AAD5;
	color: #FFF;
	text-decoration: none;
}

.sywapp-viewentry-details h3 {
	border-bottom: 1px solid silver;
}

.sywapp-portletentry {
	border-bottom: 1px solid #FFD7A8;
	margin: 5px 0 0px;
}

/*
 * RichPanel für Masken Abschnitte 
 */
.rich-panel {
	padding: 0em;
	border: 0px;
	background: transparent;
}

.rich-panel-header {
	font-size: 14px;
	background: transparent;
	font-weight: bold;
	color: #404047;
	margin: 0 0 10px;
	border: 0px;
	border-bottom: 1px solid #58AAD5;
}

.rich-panel-body {
	padding: 0px;
	color: #666;
}

.rich-datalist {
	padding: 0px;
	margin: 0px;
}





/* Tab Panels */ /* Customize RichtTabs */
.rich-tab-inactive {
	cursor: pointer;
}

.rich-tabpanel-content {
	padding: 10px;
	border-width: 0px;
	background-color: transparent;
}

.rich-tab-active {
	background-image: none;
	background: #FFDF89;
	color: #000;
	border: 1px;
	font-weight: bold;
}

.rich-tab-inactive {
	background-image: none;
	background: #ECECEC;
	color: #000000;
	border: 1px;
}

.rich-tabhdr-side-border {
	border: 1px;
	background-image: none;
}

.rich-tabhdr-side-cell {
	border: 1px;
	background-image: none;
}

.rich-table {
	border: 0px;
	empty-cells: show;
	width:100%;
	
}

.rich-table-cell {
	border: 0px;
	border-bottom: 1px solid silver;
	padding: 8px;
}

.rich-table-subheadercell {
	border: 0px;
	text-align: left;
}

/* Sidebar Boxes */
.rich-pmenu-top-group {
	background-image: none;
	-webkit-border-radius: 10px 10px 0 0;
	-khtml-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
}

.rich-pmenu-top-group-div {
	border: 1px solid #ECF3F8;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 0px;
}

.rich-tree-node-icon,.rich-tree-node-icon-leaf {
	display: none;
}

/* ==== Form ======= */
.sywapp-form .sywapp-viewentry,.sywapp-view-header .sywapp-viewentry {
	border-bottom: 0 solid #000000;
	border-top: 0 solid #FFFFFF;
	margin: 0;
}

.sywapp-form .sywapp-viewentry:HOVER {
	background: transparent;
}

/* #ECF3F8 #FFDF89 */

.sywapp-form-header,.sywapp-view-header {
	background: #ECF3F8;
	padding: 5px 10px 5px;
	margin-bottom: 20px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.sywapp-form-header{
	background: #FFDF89;
}

.sywapp-form-header a {
	font-size: 11px;
}

.sywapp-form-body,.sywapp-view-body {
	border: 2px solid #83C6EA;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px 10px;
	margin-bottom: 20px;
}
.sywapp-form-body {
	border: 2px solid #FFDF89;
}

/* Standard Rahmen im Formular abschalten */
.sywapp-workitem-body {
}


.sywapp-form-footer,.sywapp-view-footer {
	background: #ECF3F8;
	padding: 10px 10px;
	margin-bottom: 20px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.sywapp-form-footer {
	background: #FFDF89;
}