/* Custom Design  */






/**********************************************
 * History Nav
 **********************************************/
#sywapp-historynav {
	margin: 0 220px 0 5px;
	padding: 10px 0 0 0 ;
	text-align: left;
	border: 0px;
	font-size: 13px;
	border-bottom: 2px solid #83C6EA;
}


#sywapp-historynav ul{
	list-style-type: none;
	margin: 0 0 0 0px;
	padding: 0px;
}

#sywapp-historynav li {
	list-style: none;
	display: inline;
	margin: 0 0px 0 0;
	padding: 0px 0px;
	border: 1px solid #FFF;
	float: left;

}

#sywapp-historynav li:HOVER {
	border-top: 1px solid #83C6EA;
	border-left: 1px solid #83C6EA;
	border-right: 1px solid #83C6EA;
}

#sywapp-historynav ul li.active {
	background: #ECF3F8;
	border: 1px solid #ECF3F8;
}


#sywapp-historynav ul li .h-nav-link {
	float:left;
	padding:0 10px;
}


#sywapp-historynav ul li .h-nav-close {
	float:left;
	visibility: hidden;
	border: 1px solid #FFF;
}



#sywapp-historynav ul li:HOVER .h-nav-close {
	visibility: visible;
}



#sywapp-historynav ul li.active .h-nav-close {
	border: 1px solid #ECF3F8;
	visibility: visible;
}
#sywapp-historynav ul li.active .h-nav-close:HOVER {
	visibility: visible;
	border: 1px solid #83C6EA;
}



#sywapp-historynav ul li.active a {
	font-weight: bold;
	
}
