/* ECECEC  */
body {
	min-width: 980px;
}

h1 {
	font-size: 22px;
	margin-bottom: 0.3em;
}

h1,h2 {
	color: #333333;
}

h3 {
	color: #5A86A0;
}

p {
	font-size: 12px;
	line-height: 1.5em;
	color: #333333;
}

input[type="text"],input[type="password"],textarea {
	width: 200px;
}

input.rich-calendar-input {
	width: 80px;
}

/*** DL Definitonen ****/
dl {
	font-size: 12px;
	min-width: 665px;
	margin: 0;
}


dl dt {
	margin: 0;
	padding: 5px;
	font-weight: bold;
}

dl dd {
	padding: 5px;
}

/*** DL 1 Column Layout ***/
dl.columns-1 {
	clear: left;
	width: 690px;
	padding: 0 0 0 5px;
}

dl.columns-1 dt {
	float: left;
	width: 120px;
	padding: 0;
}

dl.columns-1 dd {
	float: left;
	width: 560px;
	padding: 0;
}

/*** DL 2 Column Layout ***/
dl.columns-2 {
	clear: left;
	width: 690px;
	padding: 0 0 0 5px;
}

dl.columns-2 dt {
	float: left;
	width: 120px;
	padding: 0 0 0 0;
}

dl.columns-2 dd {
	float: left;
	width: 220px;
	padding: 0;
}





#sywapp-footer {
	border-top: 1px solid #58AAD5;
	margin-right: 0px;
}

#sywapp-branding {
	background-image: url("background.png");
	background-repeat: no-repeat;
	background-position: 5px 6px;
	height: 100px;
	background-color: #83C6EA;
	border: 2px solid #83C6EA;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#sywapp-branding-text {
	color: #FFF;
	margin-left: 360px;
	font-size: 36px;
	font-weight: normal;
}

#sywapp-servicenav {
	border: 0 none;
	clear: both;
	font-size: 11px;
	margin: 0 0 0 0;
	padding: 0 0;
	text-align: right;
}

#sywapp-servicenav a,#sywapp-footer a {
	color: #12222B;
}

#sywapp-topnav ul {
	margin: 0 0 0 10px;
}

#sywapp-topnav a {
	color: #1c7cb0;
}

/*
 * RichPanel für Masken Abschnitte 
 */
#sywapp-sidebar .rich-panel {
	padding: 0em;
	background: transparent;
	border: 2px solid #83C6EA;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px 10px;
}

#sywapp-sidebar  .sywapp-commandbox {
	background: #ECF3F8;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-size: 12px;
	color: #666;
}

.sywapp-commandbox .rich-panel-header {
	border: 0 none;
	padding: 0;
	font-size: 11px;
	margin-bottom: 4px;
}

#sywapp-sidebar .sywapp-newsentry {
	border-top: 1px solid #D6EBF5;
	margin: 0px 0 10px 0;
	padding: 0px;
	xcolor: #FFFFFF;
	font-size: 11px;
	list-style: none;
}

#sywapp-sidebar .sywapp-newsentry p {
	margin: 0px 0 0px 0;
}

#sywapp-sidebar ul {
	list-style: square;
	display: block;
	margin: 0em 0em 0em 10px;
	padding: 0px;
	xtext-transform: uppercase;
	font-size: 11px;
}

#sywapp-sidebar h1,#sywapp-sidebar h2 {
	font-size: 11px;
	font-weight: bold;
}

#sywapp-sidebar  .sywapp-projecttree {
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-size: 12px;
	color: #666;
	padding-left: 0px;
}

.sywapp-projecttree .rich-panel-header {
	border: 0 none;
	padding: 0 0 0 10px;
	font-size: 11px;
	margin-bottom: 4px;
}

#sywapp-content {
	margin-left: 0em;
}

.sywapp-info-box {
	background: #ECF4FE;
	border: 1px solid #BED6F8;
	padding: 5px 5px 5px 36px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
	background-image: url("./../icons/Help_24.png");
	background-position: 5px 5px;
	background-repeat: no-repeat;
	min-height: 24px;
	font-size: 11px;
}

.sywapp-processlist {
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-size: 12px;
	color: #666;
	padding: 5px;
	background: #FFF;
	margin: 5px 10px 5px 0;
	 
}

.sywapp-processlist ul {
	margin: 0 0 0 5px;
	list-style: none;
	
	padding: 0;
}

.sywapp-processlist ul li {
	margin-bottom: 5px;
}

/* 
 * Die Klasse viewentry wird für die Darstellung von Views verwendet.
 * die Klasse wird als RowClass im element rich:dataList  verwendet
 * font-size: 0.8em
 */
.sywapp-viewentry {
	border-bottom: 0px solid #FFD7A8;
	margin: 5px 0 20px;
}

.sywapp-viewentry a {
	font-size: 12px;
}

.sywapp-viewentry-nav {
	border-top: 1px solid #FFD7A8;
}

.sywapp-viewentry:HOVER {
	background: #ECF3F8;
	xxxborder-top: 1px solid #58AAD5;
}

/* ECECEC */
.sywapp-viewentry-nav li:HOVER,.sywapp-viewentry-nav a:HOVER {
	background: #58AAD5;
	color: #FFF;
	text-decoration: none;
}

.sywapp-viewentry-details h3 {
	border-bottom: 1px solid silver;
}

.sywapp-portletentry {
	border-bottom: 1px solid #FFD7A8;
	margin: 5px 0 0px;
}

/*
 * RichPanel für Masken Abschnitte 
 */
.rich-panel {
	padding: 0em;
	border: 0px;
	background: transparent;
}

.rich-panel-header {
	font-size: 14px;
	background: transparent;
	font-weight: bold;
	color: #404047;
	margin: 0 0 10px;
	border: 0px;
	border-bottom: 1px solid #58AAD5;
}

.rich-panel-body {
	padding: 0px;
	color: #666;
}

.rich-datalist {
	padding: 0px;
	margin: 0px;
}

/* Tab Panels */ /* Customize RichtTabs */
.rich-tab-inactive {
	cursor: pointer;
}

.rich-tabpanel-content {
	padding: 16px 0 0 10px;
	border-width: 0px;
	background-color: transparent;
}

.rich-tab-active {
	background-image: none;
	background: #FFDF89;
	color: #000;
	border: 1px;
	font-weight: bold;
}

.rich-tab-inactive {
	background-image: none;
	background: #ECECEC;
	color: #000000;
	border: 1px;
}

.rich-tabhdr-side-border {
	border: 1px;
	background-image: none;
}

.rich-tabhdr-side-cell {
	border: 1px;
	background-image: none;
}

.rich-table {
	border: 0px;
}

.rich-table-cell {
	border: 0px;
	border-bottom: 1px solid silver;
}

.rich-table-subheadercell {
	border: 0px;
}

/* Sidebar Boxes */
.rich-pmenu-top-group {
	background-image: none;
	-webkit-border-radius: 10px 10px 0 0;
	-khtml-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
}

.rich-pmenu-top-group-div {
	border: 1px solid #ECF3F8;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 0px;
}

.rich-tree-node-icon,.rich-tree-node-icon-leaf {
	display: none;
}

/* ==== Form ======= */
.sywapp-form .sywapp-viewentry,.sywapp-view-header .sywapp-viewentry {
	border-bottom: 0 solid #000000;
	border-top: 0 solid #FFFFFF;
	margin: 0;
}

.sywapp-form .sywapp-viewentry:HOVER {
	background: transparent;
}

/* #ECF3F8 #FFDF89 */
.sywapp-form-header,.sywapp-view-header {
	background: #ECF3F8;
	padding: 5px 10px 5px;
	margin-bottom: 20px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.sywapp-form-header {
	background: #FFDF89;
}

.sywapp-form-header a {
	font-size: 11px;
}

.sywapp-form-body,.sywapp-view-body {
	border: 2px solid #83C6EA;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px 10px;
	margin-bottom: 20px;
}

.sywapp-form-body {
	border: 2px solid #FFDF89;
}

/* Standard Rahmen im Formular abschalten */
.sywapp-workitem-body {
	
}

.sywapp-form-footer,.sywapp-view-footer {
	background: #ECF3F8;
	padding: 10px 10px;
	margin-bottom: 20px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.sywapp-form-footer {
	background: #FFDF89;
}





.sywapp-subform-body {
	background: #83C6EA;
	border: 2px solid #83C6EA;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px 10px;
	margin: 10px 0;
}

.sywapp-subform-table {
}

.sywapp-subform-table th {
	background: #FFF;
	padding:2px;
	
	border-bottom: 2px solid #BED6F8;
}

.sywapp-subform-table td {
	padding:2px;
	border: 0px;
	border-bottom: 1px solid #ddd;
}

.sywapp-subform-table tr:HOVER {
	background: #83C6EA;

}

/**********************************************
 * History Nav
 **********************************************/
#sywapp-historynav {
	margin: 0 220px 0 5px;
	padding: 10px 0 0 0 ;
	text-align: left;
	border: 0px;
	font-size: 13px;
	border-bottom: 2px solid #83C6EA;
}


#sywapp-historynav ul{
	list-style-type: none;
	margin: 0 0 0 0px;
	padding: 0px;
}

#sywapp-historynav li {
	list-style: none;
	display: inline;
	margin: 0 0px 0 0;
	padding: 0px 0px;
	border: 1px solid #FFF;
	float: left;

}

#sywapp-historynav li:HOVER {
	border-top: 1px solid #83C6EA;
	border-left: 1px solid #83C6EA;
	border-right: 1px solid #83C6EA;
}

#sywapp-historynav ul li.active {
	background: #ECF3F8;
	border: 1px solid #ECF3F8;
}


#sywapp-historynav ul li .h-nav-link {
	float:left;
	padding:0 10px;
}


#sywapp-historynav ul li .h-nav-close {
	float:left;
	visibility: hidden;
	border: 1px solid #FFF;
}



#sywapp-historynav ul li:HOVER .h-nav-close {
	visibility: visible;
}



#sywapp-historynav ul li.active .h-nav-close {
	border: 1px solid #ECF3F8;
	visibility: visible;
}
#sywapp-historynav ul li.active .h-nav-close:HOVER {
	visibility: visible;
	border: 1px solid #83C6EA;
}



#sywapp-historynav ul li.active a {
	font-weight: bold;
	
}


/** Process Model **/

.model-box {
	margin: 0;
	padding: 5px;
	width: 700px;
	min-height: 60px;
	border: 0px solid #000;
}

.model-entity-box {
	min-height: 90px;
	float: left;
}

.model-entity {
	display: inline-block;
	width: 80px;
	min-height: 30px;
	float: left;
	vertical-align: middle;
	text-align: center;
	padding: 5px 5px;
	margin: 10px 0;
	background-color: #ECF3F8;
	border: 1px solid #CCC;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #333;
}

.model-entity:HOVER {
	xbackground-color: #83C6EA;
}

.completed {
	background-color: #CCC;
	border-color: #999;
	
}

.completed:HOVER {
	background-color: #CCC;
	border-color: #999;
}

.active {
	border-color: #FFF;
	background: #FFCC00;
}

/* c9ced1 */
.inactive {
	xbackground-color: #cbd1cb;
	border-color: #b4c5d1;
}

.model-line {
	float: left;
	margin: 30px 1px 36px 1px;
	height: 2px;
	width: 20px;
	background-color: #CCC;
}
.model-end {
	float: left;
	margin: 26px 1px 26px 1px;
	height: 10px;
	width: 10px;
	background-color: #CCC;
	
}


.model-start {
	float: left;
	margin: 26px 1px 26px 1px;
	height: 10px;
	width: 3px;
	background-color: #CCC;
	
}
