# ignore all bin directories
# matches "bin" in any subfolder
bin/

# ignore all target directories
target/

# ignore all files ending with ~
*~ 
docker-compose-dev-imixs*

# ignore eclipse directories and project files
.settings/
.project
.classpath
.metadata/


# ignore docker deployments
docker/deployments/