:root { --primary-color: #000;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.4;
	padding: 1rem;
}

.signature-pad-form {
	max-width: 300px;
	margin: 0 auto;
}

.signature-pad {
	cursor: url(pen.png) 1 26, pointer;
	border: 2px solid var(- -primary-color);
	border-radius: 4px;
}

.clear-button {
	color: var(- -primary-color);
}

.submit-button {
	width: 100%;
	background-color: var(- -primary-color);
	border: none;
	padding: 0.5rem 1rem;
	color: #fff;
	cursor: pointer;
	margin-top: 2rem;
}

@media ( pointer : coarse) {
	body {
		overflow: hidden;
		/* Needed to prevent the vertical scroll on touch devices */
	}
}