

dl {
	margin:0;
	background: #ccc;
	width:800px;
}

dt {
	width: 100px;
	float:left;
	clear:left;
	padding: 0;
}

dd {
	margin:0;
	
}
dd input {
	xxwidth:680px;
}


dd:AFTER {
	content: ".";
	display: block;
	clear:left;
	height:0;
	visibility: hidden;
}