/*** DL Definitonen ****/
dl {
	font-size: 12px;
	min-width: 665px;
	margin: 0;
}

dl dt {
	margin: 0;
	padding: 0px;
	font-weight: bold;
}

dl dd {
	padding: 0px;
	margin: 0 0 10px 0;
}



#worklist_view .imixs-image {
	max-height: 24px;
	max-width: 24px;
}

#worklist_view h3 {
	margin-top:3px;
	margin-bottom:10px;
}
