<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Imixs-Office-Workflow</title>

<link
	href="./css/fonts/typicons.css?build=#{app.application_build_timestamp}"
	charset="UTF-8" type="text/css" rel="stylesheet" />
<style>
.imixs-icon {
	width: 33%;
	font-size: 70px;
}

.typcn {
	
}
</style>
</head>

<body>



	<div
		style="margin: 20px; width: 441px; background: #61B1D0; padding: 30px; color: #fff; font-size: 40px; font-weight: normal; font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;">


		<div style="float: left; height:70px;margin-right:30px;font-size:18px;margin-top:4px;">
			<span class="typcn typcn-document"></span><br />
			<span class="typcn typcn-cog"></span><br />
			<span class="typcn typcn-group"></span>
		</div>
		<div  style="">
			<div style="margin-bottom: 5px;">Imixs-Office-Workflow</div>
			<div style="font-size: 12px; margin-bottom:7px;">
			Open Source Software für Geschäftsprozessmanagement</div>

		</div>


<!-- flow-merge  group-outline -->


	</div>

</body>



</html>