<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Imixs-Office-Workflow</title>

<link
	href="./css/fonts/typicons.css?build=#{app.application_build_timestamp}"
	charset="UTF-8" type="text/css" rel="stylesheet" />
<style>
.typcn {
	margin-left:100px;
	margin-bottom:50px;
	font-size: 170px;
	color:#333;
	border: 1px #aaa dotted;
}

.typcn {
	
}
</style>
</head>

<body>


			<span class="typcn typcn-lightbulb"></span>
			<span class="typcn typcn-location-arrow-outline"></span>
			<span class="typcn typcn-group-outline"></span>
<br />

			<span class="typcn typcn-directions"></span>
			<span class="typcn typcn-link-outline"></span>
			<span class="typcn typcn-th-list-outline"></span>

<br />
			<span class="typcn typcn-flow-merge"></span>
			<span class="typcn typcn-device-laptop"></span>

			<span class="typcn typcn-weather-cloudy"></span>

<br />
			<span class="typcn typcn-user"></span>
			<span class="typcn typcn-lightbulb"></span>
			<span class="typcn typcn-cog"></span>
<br />			
			<span class="typcn typcn-dropbox"></span>
				<span class="typcn typcn-gift"></span>
			<span class="typcn typcn-world"></span>


</body>



</html>