
.imixs-workitem {
  display: flex; /* or inline-flex */
  flex-direction: row ;
}


.imixs-workitem-form {
	flex-basis: 600px;
}
.imixs-slider {
	xwidth:60px;
	xmin-width: 60px;
	background: #ccc;
	flex-basis: 60px;	
}

.imixs-workitem-chronicle {
	flex-basis: 0;
	flex-grow: 1;
	xmin-width:0;
	xoverflow: hidden;
}
