.startprocess {
	margin-bottom: 20px;
}

.startprocess h1 {
	font-size: 1.3rem;
	color: #666;
}

.imixs-docs-start {
	padding: 10px 10px;
	border: 1px solid #145267;
	color: #333;
	height: 100px;
	margin-right: 20px;
}