/* Imixs-Office-Workflow Print Design  */


body {
	font-size: 0.33cm;
}

h1 {
	font-size: 1.4em !important;
}
h2,h3,h4 {
	font-size: 1.2em !important;
}

.imixs-form .imixs-header {
    padding: 0;
    margin-bottom: 0;
	border:0;
}


.imixs-form-panel {
    border-top: 0px solid #e0e4e7;
}

.imixs-form-panel h1 {
    border-bottom: 1px solid #e0e4e7;
}


.imixs-header .imixs-subnav {
	display: none;
}
#footer {
	padding:0;
	border-top: 1px solid #ccc;
}
#footer ul {
    text-align: left;
}    
#footer a {
	display: none;
}
#footer1 {
	display: none;
}

.imixs-form .imixs-body {
	margin-left:10px;
}


.imixsQrCode {
	float:none;
	max-width:110px;
	background: #fff;
}


.marty-userlistinput {
    border: none;
    padding: 0;
}

/* hide marty widgets */
.imixsLinkWidget, .imixsFileUpload, .marty-workitemlink-inputbox {
	display: none;
}

.imixs-action-dms-comment , .imixs-action-dms-remove{
	display: none;
	
}
/* hide widget lables */
.imixs-no-print {
	display: none !important;
}

.marty-userlistinput-inputbox {
	display: none;
}

.marty-workitemlink {
	border: none;
}

.marty-workitemlink-entry-remove {
	display: none;
}

input[disabled],select[disabled],textarea[disabled] {
	background-color: #fefefe;
} 



