
.monitoring-section {
  margin-bottom:30px;
}


.monitoring-section h2 {
	font-size: 1.8em;
	 border-bottom: 1px solid #eee;	
	 width: 100%;
}

.monitoring-section h3 {
	font-size: 1.5em;
	color: #999;
}

.monitoring-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
}

.monitoring-container .monitoring-pane {
	/*flex-grow: 1;
    flex-basis: 0;
    */
    flex: 1 0 20%; 
}

