
.organigram-container {
	display: flex;
	border: 1px solid #eee;
}


.organigram-container .orgchart table {
    border: none;
}

.orgchart {
	background: none;
}


#organigram-processes {

 text-align: center;
}

#organigram-spaces {

  text-align: center;
}


#organigram-processes #root, #organigram-spaces #root  {
 width:200px;	
}

/* Collering */
#organigram-processes #root .title {
    background-color: #faa732;
}
#organigram-processes #root .content { 
	border-color: #faa732; 
}
#organigram-spaces #root .title {
    background-color: #faa732;
}
#organigram-spaces #root .content { 
	border-color: #faa732; 
}

#organigram-spaces #root .title {
    background-color: #faa732;
}
#organigram-spaces #root .content { 
	border-color: #faa732;  
}

#organigram-processes .orgchart .process .title { background-color: #4c8067; }
#organigram-processes .orgchart .process .content { border-color: #4c8067; }

#organigram-spaces .orgchart .space .title { background-color: #31708f; }
#organigram-spaces .orgchart .space .content { border-color: #31708f; }

/* Line Collering */ 

.orgchart .node:not(:only-child)::after {    background-color: #31708f;}
.orgchart .hierarchy::before {    border-top: 2px solid #31708f; }
.orgchart > ul > li > ul li > .node::before {    background-color: #31708f;}
.orgchart .nodes.vertical::before {  background-color: #31708f;}
.orgchart .nodes.vertical .hierarchy::before, .orgchart .nodes.vertical .hierarchy::after {  border-color: #31708f;}


/* Layout Fix  https://github.com/dabeng/OrgChart/issues/612 */
.orgchart .node .title {
	width: 100%;
	min-width:130px;	
}

/* Vertical layout fix adjust */
.orgchart .nodes.vertical > .hierarchy:first-child::before {
    top: -6px;
}

.orgchart .node .content {
	min-height: 20px;
	height: inherit;
}


/* Team Layout */
.orgchart .node .content .teams {
 display: flex;	
 justify-content: center;
}

.orgchart .node .content .teams .members p{
	margin: 0 10px;
    text-align: left;
}
.orgchart .node .content .teams .members p.lead{
    text-align: center;
    margin-bottom: 4px;
}



