#nav-sidebar {
	padding: 10px 10px;
	height: 100%;
	width: 60px;
	position: fixed;
	
	z-index: 1;
	top: 45px;
	left: 0;
	background-color: #eaeaea;
	overflow-x: hidden;
	padding-top: 20px;
	
	border-right: 1px solid #fff;
}


#nav-sidebar .typcn {
	color: #666;
	font-size: 1.7rem;
	line-height: 1.5em;
}

#imixs-header, #container , #footer1{
	margin-left: 60px;
}

#footer1, #footer2 {
	 background-color: #eee;
	 color:#333;
}







.imixs-portlet {
	border-right: 4px solid #eaeaea;
}


#footer1,#footer2 {
    background-color: #eee;
    color:#888;
}

#footer2 li, #footer a{
    color:#888;
}




.imixs-historyentry {
    background-color: #f4f4f4;
    color:#666;
}

.imixs-historyentry a {
    color: #145267;
}

.imixs-historyentry .image-block .imixs-typicon {
    color: #777;
}

.imixs-historyentry.active {
    background-color: #f4f4f4;
    border-bottom:2px solid #428bca;
}
