/* --- Imixs-Wopi Office Integration  ---------------------------- */
 
#wopi_controlls {
	margin-bottom: 3px;
	padding:0;
} 

.wopi-action-bar {
	float:right;
}

.wopi-filename  {
	font-size:1.8em;
}

.wopi-action-bar span {
    font-size: 2em;
	margin-left: 5px;
	cursor: pointer;
	color: #428bca;
}