/* --- Imixs-ML Office Integration  ---------------------------- */
 
.imixs-ml {
	background: url(./idea_16.png) no-repeat scroll right #d6fdd6 !important;
	background-position: 100% 5px !important;
} 

.imixs-date.imixs-ml {
	background: url(./calendar_14.png) no-repeat scroll left #d6fdd6 !important;
	background-position: 4px 6px, center !important;
} 


.ml-search-results {
	display: none;
	width: 96%;
	margin-top: 39px;
	position: absolute;
	z-index: 1;
	top: 10px;
	border: 1px solid #CCC;
	background: #fff;
	padding: 1px 5px;
	box-shadow: 3px 3px 4px #EEE;

}