.monitoring-section {
	margin-bottom: 30px;
}

.monitoring-section h2 {
	font-size: 1.8em;
	border-bottom: 1px solid #eee;
	width: 100%;
}

.monitoring-section h3 {
	font-size: 1.5em;
	color: #999;
}

.monitoring-section-details h3 {
	color: #414141;
}
.monitoring-section-details h4 {
	color: #999;
}

.monitoring-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.monitoring-container .monitoring-pane {
	flex-shrink: 0;
	flex-basis: 400px;
	margin-right:50px;
}

.monitoring-container canvas {
}