
/*
  ------ Chronical Nav 
  
 */
#imixs-content {
    padding: 20px 0 20px 20px;
}

.imixs-subnav {
	display: none;
	
}
.imixs-workitem {
	overflow: auto;
}

.imixs-workitem-form {
	float: left;	
	margin-right: 60px;
	transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
}

.imixs-form h1 {
    margin-bottom: 0em;
}

.imixs-form .imixs-header {
    border-top: none;
}

.imixs-chronicle {
	display: none;
	
	
	height: 100%; /* 100% Full-height */
	width: 60px; /* 0 width - change this with JavaScript */
 
 	position: fixed;
	right: 0;

	overflow-x: hidden; /* Disable horizontal scroll */
	
	transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
	
	border-left: 1px solid #e0e4e7;
}
		
		
.imixs-chronicle-nav {
	padding-top: 20px;
}
		
.imixs-chronicle-nav ul {
	padding: 0;
	list-style-type: none;
	text-align: center;
	font-size:28px;
	color: #206B87;
}

.imixs-chronicle-nav ul li .typcn {
	cursor: pointer;
}



.imixs-chronicle-content {
	xxxxborder-top: 1px solid #e0e4e7;
	display: none;
	margin: 0 20px 0 20px;
	padding-top: 20px;
}

.imixs-chronicle-content h2 {
	color: #333;	
	font-size:24px;
}
.imixs-chronicle-content h3 {
	color: #333;	
	font-size:18px;
}


.imixs-chronicle-filter ul {
	padding: 0;
	list-style-type: none;
	text-align: left;
	font-size:22px;
	color: #206B87;
}
.imixs-chronicle-filter ul li{
	display: inline;
	margin-right: 30px;
}
.imixs-chronicle-filter a {
	color: #fff;
	
}
.imixs-chronicle-content h1 {
    font-size: 2em;

    
}
.imixs-chronicle-content h1 .typcn{
	color: #206B87;
}
.imixs-chronicle-content table, td, th {
	border: none;
}

.imixs-chronicle-entry td {
    border-top: 1px solid #ccc;
    color: #666;
}
.imixs-chronicle-entry .typcn {
	margin: 0;
	font-size: 1.3rem;
	color: #428bca;
    line-height: 1.3rem;
}


