
.organigram-container {
	display: flex;
	border: 1px solid #eee;
	min-height: 500px;
}


.organigram-container .orgchart table {
    border: none;
}

.orgchart {
	background: none;
}

#organigram-processes {
	border-right: 1px solid #eee;
 	min-height: 500px;
 	text-align: center;
}

#organigram-spaces {
  min-height: 500px;
  width:100%;
  text-align: center;
}

/* Root Node */
#organigram-processes #root, #organigram-spaces #root {
 width:200px;	
}

/* Node Collering */
#organigram-processes #root .title { background-color: #faa732; }
#organigram-processes #root .content { border-color: #faa732; }
#organigram-spaces #root .title { background-color: #faa732; }
#organigram-spaces #root .content { border-color: #faa732; }
#organigram-spaces #root .title { background-color: #faa732;}
#organigram-spaces #root .content { border-color: #faa732;  }
#organigram-processes .orgchart .process .title { background-color: #4c8067; }
#organigram-processes .orgchart .process .content { border-color: #4c8067; }
#organigram-spaces .orgchart .space .title { background-color: #31708f; }
#organigram-spaces .orgchart .space .content { border-color: #31708f; }

/* Line Collering */ 
.orgchart .node:not(:only-child)::after {    background-color: #31708f;}
.orgchart .hierarchy::before {    border-top: 2px solid #31708f; }
.orgchart > ul > li > ul li > .node::before {    background-color: #31708f;}
.orgchart .nodes.vertical::before {  background-color: #31708f;}
.orgchart .nodes.vertical .hierarchy::before, .orgchart .nodes.vertical .hierarchy::after {  border-color: #31708f;}


/* Layout Fix  https://github.com/dabeng/OrgChart/issues/612 */
.orgchart .node .title {
	width: 100%;
	min-width:130px;	
	padding: 2px 16px;
}
.orgchart .nodes {
    justify-content: center;
}

/* Vertical layout fix adjust */
.orgchart .nodes.vertical > .hierarchy:first-child::before {
    top: -6px;
}

.orgchart .node .content {
	min-height: 20px;
	height: inherit;
    white-space: normal;
    padding:0;
}
    
/* hide title symbol */
.orgchart .node .title .symbol {
    display:none;
}


/* Custom Content - Team Layout */
.orgchart .node .content .node-details {
	 display: flex;	
	 flex-direction: column;
}

.orgchart .node .content .node-details .teams {
 display: flex;	
 justify-content: center;
}

.orgchart .node .content .node-details .teams .members p{
	margin: 0 10px;
    text-align: left;
    white-space: nowrap;
}
.orgchart .node .content .node-details .teams .members p.lead{
    text-align: center;
    margin-bottom: 4px;
    white-space: nowrap;
}

/* Custom Content - toolbar Layout */
.orgchart .node .content .node-details .controls {
	text-align: right;
	font-size:18px;
	color: #777;
}
.orgchart .node .content .node-details .controls .typcn {
 	margin-left:10px;
 	cursor: pointer;
}





