/* --- CSS definiton for suggestinput elements  ---------------------------- */
 

.suggestinput-resultlist {
	width: 98%;
	margin-top: -2px;
	position: absolute;
	z-index: 1;
	border: 1px solid #145267;
	border-top:none;
	background: #fff;
	padding: 0;
	box-shadow: 3px 3px 4px #EEE;	
}


.suggestinput-resultlist-element {
  padding: 4px 5px;
  cursor: pointer;
  background-color: #FFF;
  border-top: 1px solid #d4d4d4; 
}



.suggestinput-resultlist-element:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.suggestinput-resultlist-element:hover a {
	color: #2a8aad;
}

.suggestinput-resultlist-element a {
	color: #777;
	font-weight: bold;
}	
.suggestinput-resultlist-element a:hover {	
	text-decoration: none;
}

.suggestinput-resultlist-element.active {
  /*when navigating through the items using the arrow keys:*/
  background-color: #2a8aad;
}
.suggestinput-resultlist-element.active a {
  color: #ffffff;
}





