/* Imixs-Office-Workflow Print Design  */
body {
	font-size: 0.33cm;
	overflow: auto;
}

h1 {
	font-size: 1.4em !important;
}

h2,
h3,
h4 {
	font-size: 1.3em !important;
}

.branding h1 {
	font-size: 1.4rem !important;
}

.imixs-form {
	margin: 0;
}

.imixs-form .imixs-header {
	padding: 0;
	margin-bottom: 0;
	border: 0;
	min-height: 0;
}

.imixs-form h1 {
	font-size: 1.8em;
	margin-bottom: 1.0em;
}

.imixs-form-panel {
	border-top: 0px solid #e0e4e7;
	padding: 4px 0px;
}

.imixs-form-panel h1 {
	border-bottom: 1px solid #e0e4e7;
}

.imixs-viewentry .content-block {
	font-size: inherit;
}

.imixs-header .imixs-subnav {
	display: none;
}

.imixs-workitem-chronicle-content table {
	width: 100%;
}

#footer {
	padding: 0;
	border-top: 1px solid #ccc;
}

#footer ul {
	text-align: right;
}

#footer a {
	display: none;
}

#footer1 ul li,
#footer2 ul li {
	display: inline;
}

#footer1 {
	display: none;
}

.imixs-form .imixs-body {
	margin-left: 10px;
}


.imixsQrCode {
	background: #fff;
}


.marty-userlistinput {
	border: none;
	padding: 0;
}

/* hide marty widgets */
.imixsLinkWidget,
.imixsFileUpload,
.marty-workitemlink-inputbox {
	display: none;
}

.imixs-action-dms-comment,
.imixs-action-dms-remove {
	display: none;

}

/* hide widget lables */
.imixs-no-print {
	display: none !important;
}

.imixs-print-full-width {
	width: 100% !important;
}

.marty-userlistinput-inputbox {
	display: none;
}

.marty-workitemlink {
	border: none;
}

.marty-workitemlink-entry-remove {
	display: none;
}

input[disabled],
select[disabled],
textarea[disabled] {
	background-color: #fefefe;
}


@media print {
	.noprint {
		display: none;
	}
}