/* This css definition provides a general page layout.  
 * One page consists of 4 areas:
 * header, content, navigation, extra and footer.
 * All these areas are surrounded by a container. 
 *
 * There exists are lot of variants the plage layout can be defined. 
 * The basic.css can be replaceced by basic_left.css or basic_center.css. 
 * 
 * read more: http://blog.html.it/layoutgala/ 
 *
 */
html,body {
	margin: 0;
	padding: 0
}

body {
	font: 12px arial, sans-serif;
}

h1,h2,h3 {
	margin: 0 0 0.3em;
}

p {
	margin: 0;
}

a {
	
}

#imixs-container {
	text-align: left;
	width: 980px;
	margin: 0 auto
}

#imixs-header {
	margin: 10px 0 15px 0;
	border: 1px solid #83C6EA;
}

#imixs-content {
	float: left;
	width: 760px;
	border: 1px solid #83C6EA;
}

#imixs-navigation {
	float: right;
	width: 200px;
	border: 1px solid #FFCC00;
}

#imixs-extra {
	clear: both;
	width: 100%;
	margin: 10px 0 0 0;
}

#imixs-footer {
	margin: 10px 0 0 0;
	text-align: right;
}

#imixs-footer ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#imixs-footer li {
	list-style: none;
	display: inline;
	margin: 0em 0em 0em 2em;
	padding: 0px;
}

/* Page Elements */
#imixs-servicenav {
	margin: 0em 0em 0.5em 0em;
	padding: 0.4em 0 0.4em 0;
	text-align: right;
	border: 0px;
}

#imixs-topnav {
	margin: 0em;
	padding: 0em;
}

#imixs-servicenav ul,#imixs-topnav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#imixs-servicenav li {
	list-style: none;
	display: inline;
	margin: 0em 0em 0em 2em;
	padding: 0px;
}

#imixs-topnav li {
	list-style: none;
	display: inline;
	margin: 0em 2em 0em 0em;
	padding: 0px;
}

#imixs-branding {
	height: 100px;
}