/*
* Diese css datei kann dazu verwendet werden um die Imixs-Office-Workflow css klasse
* imis-form-section2 mit einem row/col6 zu simulieren
*
*/

/*** Default DL Definitonen ****/
dl {
	margin: 0;
}





dl dd input[type="text"],.imixs-form-section-2 dd input[type="password"],.imixs-form-section-2 dd select
	{
	width: 100%;
}

 dd textarea {
	width: 100%;
	height: 5em;
}


/* Simulation row */
.imixs-form-section, .imixs-form-section-2 , .imixs-form-section-3 {
	clear: both;
	width: 100%;
}


.imixs-form-section:after,.imixs-form-section-2:after,.imixs-form-section-3:after {
	content: ".";
	display: block;
	clear: left;
	height: 0;
	visibility: hidden;
}


/* Simulation col-12 */
.imixs-form-section dl {
	clear: both;
	margin: 0;
	width: 100%;
	display: inline-block;
	float: none;
	min-height: 1px;
	position: relative;
	padding: 10px;
	
	left: 0;
		text-align: left;
}



/* Simulation col-6 */
.imixs-form-section-2 dl {
	margin: 0;
	width: 50%;
	display: inline-block;
	float: left;
	min-height: 1px;
	position: relative;
	padding: 10px;
}

@media screen and (max-width: 768px) {
	.imixs-form-section-2 dl {
		clear: both;
		float: none;
		width: 100% !important;
		max-width: 738px !important;
		left: 0;
		text-align: left;
	}
}



/* Simulation col-4 */
.imixs-form-section-3 dl {
	margin: 0;
	width: 33.3333%;
	display: inline-block;
	float: left;
	min-height: 1px;
	position: relative;
	padding: 10px;
}

@media screen and (max-width: 768px) {
	.imixs-form-section-3 dl {
		clear: both;
		float: none;
		width: 100% !important;
		max-width: 738px !important;
		left: 0;
		text-align: left;
	}
}
