/* Imixs-Office-Workflow Print Design  */
.imixs-header .imixs-subnav {
	display: none;
}
#footer {
	padding:0;
	border-top: 1px solid #ccc;
}
#footer ul {
    text-align: left;
}    
#footer a {
	display: none;
}
#footer1 {
	display: none;
}

.imixs-form .imixs-body {
	margin-left:10px;
}

.imixs-form .imixs-body h1 {
    font-size: 1.5em;
    margin-top: 1.2em;
}

.marty-userlistinput {
    border: none;
    padding: 0;
}

/* hide marty widgets */
.imixsLinkWidget, .imixsFileUpload, .marty-workitemlink-inputbox {
	display: none;
}

.imixs-action-dms-comment , .imixs-action-dms-remove{
	display: none;
	
}
/* hide widget lables */
.imixs-no-print {
	display: none;
}

.marty-userlistinput-inputbox {
	display: none;
}

.marty-workitemlink {
	border: none;
}

.marty-workitemlink-entry-remove {
	display: none;
}

input[disabled],select[disabled],textarea[disabled] {
	background-color: #fefefe;
} 




.imixsQrCode {
	float:none;
	max-width:150px;
	background: #fff;
}