/* Imixs-Office-Workflow Print Design  */
.imixs-header .imixs-subnav {
	display: none;
}
#footer {
	padding:0;
}

/* hide marty widgets */
.imixsLinkWidget, .imixsFileUpload, .marty-workitemlink-inputbox {
	display: none;
}

.imixs-action-dms-comment , .imixs-action-dms-remove{
	display: none;
	
}
/* hide widget lables */
.imixs-no-print {
	display: none;
}

.marty-workitemlink {
	border: none;
}

.marty-workitemlink-entry-remove {
	display: none;
}

input[disabled],select[disabled],textarea[disabled] {
	background-color: #fefefe;
} 