/* Imixs-Office-Workflow Print Design  */
.imixs-header .imixs-subnav {
	display: none;
}
#footer {
	padding:0;
}

.marty-workitemlink-inputbox {
	display: none;
}

#imixsfileuploadcontrol,#imixs-add-file-link {
	display: none;
}

.marty-workitemlink {
	border: none;
}

.marty-workitemlink-entry-remove {
	display: none;
}

input[disabled],select[disabled],textarea[disabled] {
	background-color: #fefefe;
} 