<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Imixs-Office-Workflow</title>

<link
		href="./css/fonts/typicons.css?build=#{app.application_build_timestamp}"
		charset="UTF-8" type="text/css" rel="stylesheet" />
<style>

 .imixs-icon {
 	width:33%;
 	font-size:70px;
 }
 
  

 .typcn {
 	
 }
</style>
</head>

<body>

	<div
		style="margin: 20px; width:380px; background: #61B1D0; padding: 15px 20px; color: #fff; font-size: 36px; font-weight: normal; font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;">
		
		<div>
		<center><img  src="./css/background.png" /></center>
		
		</div>
		
		<div style="margin-bottom:5px;"><center>Imixs-Office-Workflow</center></div>
		<div style="font-size: 18px;"><center>Software für
			Geschäftsprozessmanagement</center></div>
			
		
	</div>

</body>



</html>