<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="imixsOfficeWebApp_ID" version="2.5">
	<display-name>org.imixs.workflow-office</display-name>
	<welcome-file-list>
		<welcome-file>pages/notes.jsf</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.FACELETS_REFRESH_PERIOD</param-name>
		<param-value>2</param-value>
	</context-param>
	
	<context-param>
		<param-name>javax.faces.CONFIG_FILES</param-name>
		<param-value>
			/WEB-INF/faces-config.xml,/WEB-INF/faces-config-office.xml,/WEB-INF/faces-config-custom.xml
		</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
	</context-param>
	<context-param>
		<param-name>com.sun.faces.validateXml</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>com.sun.faces.verifyObjects</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>org.ajax4jsf.SKIN</param-name>
		<param-value>office</param-value>
	</context-param>
	<context-param>
		<param-name>org.ajax4jsf.VIEW_HANDLERS</param-name>
		<param-value>com.sun.facelets.FaceletViewHandler</param-value>
	</context-param>
	
	
	<context-param>
		<param-name>javax.faces.DISABLE_FACELET_JSF_VIEWHANDLER</param-name>
		<param-value>true</param-value>
	</context-param>
	
	
	<!--
		<context-param> <param-name>org.ajax4jsf.COMPRESS_SCRIPT</param-name>
		<param-value>true</param-value> </context-param> <context-param>
		<param-name>org.ajax4jsf.COMPRESS_STYLE</param-name>
		<param-value>true</param-value> </context-param>
	-->

	<!-- NEKO TIDY-->
	<!--
		<context-param> <param-name>org.ajax4jsf.xmlparser.ORDER</param-name>
		<param-value>TIDY</param-value> </context-param>
	-->
	<context-param>
		<param-name>org.richfaces.CONTROL_SKINNING</param-name>
		<param-value>enable</param-value>
	</context-param>
	<!--
		DEFAULT <context-param>
		<param-name>org.richfaces.LoadStyleStrategy</param-name>
		<param-value>DEFAULT</param-value> </context-param>
	-->
	<context-param>
		<param-name>org.richfaces.LoadScriptStrategy</param-name>
		<param-value>ALL</param-value>
	</context-param>


	<filter>
		<display-name>Ajax4jsf Filter</display-name>
		<filter-name>ajax4jsf</filter-name>
		<filter-class>org.ajax4jsf.Filter</filter-class>
		<init-param>
			<param-name>createTempFiles</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>maxRequestSize</param-name>
			<!-- 3MB  -->
			<param-value>3145728</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>ajax4jsf</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<!-- RESTfull Service -->
	<servlet>
		<servlet-name>Jersey Web Application</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>org.imixs.workflow.jaxrs</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Jersey Web Application</servlet-name>
		<url-pattern>/RestService/*</url-pattern>
	</servlet-mapping>
	

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>


	<!-- Office-Workflow Setup Servlet  -->
	<servlet>
		<servlet-name>SetupServlet</servlet-name>
		<servlet-class>org.imixs.marty.web.office.SetupServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	

        <!-- EJB Refs necessary for GF 1.2 and GF 3 if @session annotation is left -->
        <!-- 
        <ejb-local-ref>
                <ejb-ref-name>org.imixs.workflow.jee.ejb.EntityService</ejb-ref-name>
                <ejb-ref-type>Session</ejb-ref-type>
                <local-home/>
                <local>org.imixs.workflow.jee.ejb.EntityService</local>
        </ejb-local-ref>
        <ejb-local-ref>
                <ejb-ref-name>org.imixs.workflow.jee.ejb.WorkflowService</ejb-ref-name>
                <ejb-ref-type>Session</ejb-ref-type>
                <local-home/>
                <local>org.imixs.workflow.jee.ejb.WorkflowService</local>
        </ejb-local-ref>
        <ejb-local-ref>
                <ejb-ref-name>org.imixs.workflow.jee.ejb.ModelService</ejb-ref-name>
                <ejb-ref-type>Session</ejb-ref-type>
                <local-home/>
                <local>org.imixs.workflow.jee.ejb.ModelService</local>
        </ejb-local-ref>
        <ejb-local-ref>
                <ejb-ref-name>org.imixs.workflow.jee.ejb.ReportService</ejb-ref-name>
                <ejb-ref-type>Session</ejb-ref-type>
                <local-home/>
                <local>org.imixs.workflow.jee.ejb.ReportService</local>
        </ejb-local-ref>
 -->

	<!-- Error handling -->
	<error-page>
		<exception-type>java.lang.RuntimeException</exception-type>
		<location>/error.jsf</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/error.jsf</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/error.jsf</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error.jsf</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error.jsf</location>
	</error-page>
	
	

 	<!--  Login Modul - Browser-Login 
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>imixsrealm</realm-name>
	</login-config>
	-->

	<!--  Login Modul - Formular-Login -->
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>imixsrealm</realm-name>
		<form-login-config>
			<form-login-page>/login.jsf</form-login-page>
			<form-error-page>/loginerror.jsf</form-error-page>
		</form-login-config>
	</login-config>
	
	
	
	<security-constraint>
		<display-name>Access Manager Security Constraint</display-name>
		<web-resource-collection>
			<web-resource-name>AUTHENTICATED_RESOURCE</web-resource-name>
			<url-pattern>/pages/*</url-pattern>
			<url-pattern>/RestService/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>org.imixs.ACCESSLEVEL.READERACCESS</role-name>
			<role-name>org.imixs.ACCESSLEVEL.AUTHORACCESS</role-name>
			<role-name>org.imixs.ACCESSLEVEL.EDITORACCESS</role-name>
			<role-name>org.imixs.ACCESSLEVEL.MANAGERACCESS</role-name>
		</auth-constraint>
	</security-constraint>
	<security-role>
		<role-name>org.imixs.ACCESSLEVEL.NOACCESS</role-name>
	</security-role>
	<security-role>
		<role-name>org.imixs.ACCESSLEVEL.READERACCESS</role-name>
	</security-role>
	<security-role>
		<role-name>org.imixs.ACCESSLEVEL.AUTHORACCESS</role-name>
	</security-role>
	<security-role>
		<role-name>org.imixs.ACCESSLEVEL.EDITORACCESS</role-name>
	</security-role>
	<security-role>
		<role-name>org.imixs.ACCESSLEVEL.MANAGERACCESS</role-name>
	</security-role>
</web-app>