<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<title>Imixs Workflow Project - Java Workflow Engine for BPM</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, minimum-scale=1" />
<meta content="Ralph Soika" name="author" />
<meta content="Imixs Software Solutions GmbH" name="publisher" />
<meta name="description"
	content="Imixs Workflow is a java based workflow engine for business process management" />
<meta name="keywords"
	content="Workflow, workflow engine, BPM, BPMN, open source, java, jee, Java EE, framework, business process management, Glassfish, Geschäftsprozess Management" />

<link type="text/css;charset=UTF-8" rel="stylesheet" media="all"
	href="css/creatix-basic.css" />
<link type="text/css;charset=UTF-8" rel="stylesheet" media="all"
	href="css/creatix-layout.css" />
<link type="text/css;charset=UTF-8" rel="stylesheet" media="all"
	href="css/creatix-forms.css" />
<link type="text/css;charset=UTF-8" rel="stylesheet" media="all"
	href="http://www.imixs.org/css/ximixs.css" />

<link type="text/css;charset=UTF-8" rel="stylesheet" media="all"
	href="css/office-neu-theme.css" />
</head>
<body>

	<div id="header">
		<div id="imixs-header">

			<div id="imixs-servicenav">
				<ul>
					<li><a href="http://www.imixs.org">home</a></li>
					<li><a href="http://blog.imixs.org" target="_blank">blog</a></li>

					<li><a href="https://github.com/imixs/imixs-workflow"
						target="_blank">github</a></li>

					<li><a href="https://github.com/imixs/imixs-workflow/issues"
						target="_blank">issues</a></li>
					<li><a href="http://www.imixs.com" target="_blank">imixs.com</a></li>
					<li></li>

				</ul>
			</div>
			<div id="imixs-branding-text">Imixs Office Workflow</div>


		</div>
	</div>
	<!-- END header -->

	</div>




	<!-- content -->

	<div id="container">Conntent</div>






	<!-- END container -->

	<div id="footer">
		<div id="footer1">
			&#169; 2006-2014 Imixs Software Solutions GmbH | <a
				href="mailto:info@imixs.com">Contact</a> | <a
				href="http://www.imixs.com/?page_id=56">Impressum</a>
		</div>
		<div id="footer2">fotos: © gordon bussiek | photocase.com</div>
	</div>
	<!-- END footer -->
</body>
</html>