

.imixs-viewentry {
	margin:50px;
}
	

.imixs-viewentry-icon{
	color: #333;
	font-size:32px;
	line-height: 1em;
}
.imixs-viewentry-favorite {
	color: #333;
	font-size:24px;
	line-height: 1em;
	margin-left: 4px;
}
	
.imixs-viewentry-icon  a, .imixs-viewentry-favorite  a  {
	color:inherit;
}

.imixs-viewentry-icon-ne {
	top: -33px;
	left: 18px;
	position: relative;
	z-index: 1;
	color: #fff;
	font-size:16px;
	line-height: 1em;
	font-weight: normal;
	
	-webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 2px solid #95CF5E;
    
    width: 16px;
    height: 16px;
    background-color: #95CF5E;
    
    
    
}

.imixs-viewentry-icon-ne .typcn {
	position: relative;
	top:-2px;
	left:-2px;
}


.imixs-info {
	color:#61B1D0;
}


.imixs-success {
	color:#95CF5E;
}


.imixs-warning {
	color:#cfab5e;
}


.imixs-error {
	color:#cf5e6f;
}

