

.imixs-viewentry {
	margin:50px;
}
	
.imixs-viewentry .image-block {
	position: relative;
}

.imixs-viewentry-icon{
	position:absolute;
	color: #333;
	font-size:34px;
	line-height: 1em;
}
.imixs-viewentry-favorite {
	position:absolute;
	top:40px;
	color: #999;
	font-size:24px;
	line-height: 1em;
	margin-left: 4px;
}
	
.imixs-viewentry-icon  a, .imixs-viewentry-favorite  a  {
	color:inherit;
}


.imixs-viewentry-icon.imixs-info {
	color:#61B1D0;
}


.imixs-viewentry-icon.imixs-success {
	color:#95CF5E;
}


.imixs-viewentry-icon.imixs-warning {
	color:#cfab5e;
}


.imixs-viewentry-icon.imixs-error {
	color:#cf5e6f;
}


.imixs-viewentry-icon-ne {
	position:absolute;
	display:none;
	top: -2px;
	right: -2px;
	color: #333;
	font-size:16px;
	line-height: 1em;
	-webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 0px;
    padding: 1px;
}

.imixs-viewentry-icon-ne.imixs-info {
	 background-color: #61B1D0;
	 color: #fff;
}


.imixs-viewentry-icon-ne.imixs-success {
	 background-color: #95CF5E;
	 color: #fff;
}

.imixs-viewentry-icon-ne.imixs-warning {
	 background-color: #cfab5e;
	 color: #fff;
}


.imixs-viewentry-icon-ne.imixs-error {
	 background-color: #cf5e6f;
	 color: #fff;
}




