<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
	<display-name>${imixs-office.applicationname}</display-name>
	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>
	
	<!--  -->
	<context-param>
		<param-name>jakarta.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
	</context-param>
	<context-param>
		<param-name>jakarta.faces.CONFIG_FILES</param-name>
		<param-value>
			/WEB-INF/faces-config-office.xml,
			/WEB-INF/faces-config-custom.xml
		</param-value>
	</context-param>
	
	
	
	<!-- project stage is computed by the maven profile settings -->
	<context-param>
		<param-name>jakarta.faces.PROJECT_STAGE</param-name>
		<param-value>${jakarta.faces.project_stage}</param-value>
	</context-param>
	
	 <!-- Session Timeout 3h -->
	<session-config> 
		<session-timeout>180</session-timeout> 
	</session-config> 	

	
	<!-- Facelets -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>jakarta.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>0</load-on-startup>		
		<multipart-config>
	      <location>/tmp</location>
	      <!-- 20MB (20848820)  *2MB (2097152)-->
	      <max-file-size>2097152</max-file-size>
	      <!-- 400MB (418018841)  *20MB (20848820)-->
	      <max-request-size>20848820</max-request-size>
	      <file-size-threshold>1048576</file-size-threshold>
		</multipart-config>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	
	

    
	<!-- Error handling -->
	 <error-page>   
     	<exception-type>jakarta.enterprise.context.NonexistentConversationException</exception-type>
     	<location>/errorhandler1.jsf?nocid=true</location>   
    </error-page>  
    <error-page>   
     	<exception-type>jakarta.faces.view.facelets.TagAttributeException</exception-type>   
     	<location>/errorhandler2.jsf</location>   
    </error-page>  

	<error-page> 
        <exception-type>java.lang.Exception</exception-type> 
        <location>/errorHandler</location> 
    </error-page>

	
	
	

	<error-page>
		<exception-type>java.lang.RuntimeException</exception-type>
		<location>/errorhandler4.jsf</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/loginerror.jsf</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/authorizationerror.jsf</location>
	</error-page>	
	<error-page>
		<error-code>404</error-code>
		<location>/error.jsf</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error.jsf</location>
	</error-page>


	<!-- Login Modul - Form-Login  -->
	 <login-config> 
	 	<auth-method>FORM</auth-method> 
		<realm-name>${imixs-office.realm}</realm-name> 
		<form-login-config> 
			<form-login-page>/login.jsf</form-login-page> 
			<form-error-page>/loginerror.jsf</form-error-page> 
		</form-login-config> 
	</login-config> 
	

	<!-- Security Roles -->
	<security-constraint>
		<display-name>Access Manager Security Constraint</display-name>
		<web-resource-collection>
			<web-resource-name>AUTHENTICATED_RESOURCE</web-resource-name>
			<url-pattern>/pages/*</url-pattern>
			<url-pattern>/api/workflow/*</url-pattern>
			<url-pattern>/api/model/*</url-pattern>
			<url-pattern>/api/documents/*</url-pattern>
			<url-pattern>/api/report/*</url-pattern>
			<url-pattern>/api/snapshot/*</url-pattern>
			<url-pattern>/api/adminp/*</url-pattern>
			<url-pattern>/api/eventlog/*</url-pattern>
			<url-pattern>/api/logout</url-pattern>
			<!-- exclude /api/metrics and /api/wopi -->
		</web-resource-collection>
		<auth-constraint>
			<role-name>org.imixs.ACCESSLEVEL.READERACCESS</role-name>
			<role-name>org.imixs.ACCESSLEVEL.AUTHORACCESS</role-name>
			<role-name>org.imixs.ACCESSLEVEL.EDITORACCESS</role-name>
			<role-name>org.imixs.ACCESSLEVEL.MANAGERACCESS</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
        <web-resource-collection>
            <web-resource-name>AUTHENTICATED_ADMIN_RESOURCE</web-resource-name>
            <url-pattern>/pages/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>org.imixs.ACCESSLEVEL.MANAGERACCESS</role-name>
        </auth-constraint>
    </security-constraint>
	<security-role>
		<role-name>org.imixs.ACCESSLEVEL.NOACCESS</role-name>
	</security-role>
	<security-role>
		<role-name>org.imixs.ACCESSLEVEL.READERACCESS</role-name>
	</security-role>
	<security-role>
		<role-name>org.imixs.ACCESSLEVEL.AUTHORACCESS</role-name>
	</security-role>
	<security-role>
		<role-name>org.imixs.ACCESSLEVEL.EDITORACCESS</role-name>
	</security-role>
	<security-role>
		<role-name>org.imixs.ACCESSLEVEL.MANAGERACCESS</role-name>
	</security-role>
</web-app>