<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<display-name>org.imixs.workflow-office</display-name>
	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>


	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
	</context-param>


	<context-param>
		<param-name>javax.faces.CONFIG_FILES</param-name>
		<param-value>
			/WEB-INF/faces-config.xml,/WEB-INF/faces-config-office.xml,/WEB-INF/faces-config-custom.xml
		</param-value>
	</context-param>

	<!-- Change to "Production" when you are ready to deploy
	     Change to "Development" during development -->
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Production</param-value>
	</context-param>
	
	
 	<listener>
        <listener-class>
            com.sun.faces.config.ConfigureListener
        </listener-class>
    </listener>

	


	<!-- Facelets -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>


	<!-- RESTfull Service -->
	<servlet>
		<servlet-name>ImixsRestService</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>org.imixs.workflow.jaxrs</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImixsRestService</servlet-name>
		<url-pattern>/rest-service/*</url-pattern>
	</servlet-mapping>


	<!-- Error handling -->
	<error-page>
		<exception-type>java.lang.RuntimeException</exception-type>
		<location>/error.jsf</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/error.jsf</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/error.jsf</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error.jsf</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error.jsf</location>
	</error-page>



	<!-- Login Modul - Browser-Login -->
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>imixsrealm</realm-name>
	</login-config>


	<!-- Login Modul - Formular-Login <login-config> <auth-method>FORM</auth-method> 
		<realm-name>imixsrealm</realm-name> <form-login-config> <form-login-page>/login.jsf</form-login-page> 
		<form-error-page>/loginerror.jsf</form-error-page> </form-login-config> </login-config> -->


	<security-constraint>
		<display-name>Access Manager Security Constraint</display-name>
		<web-resource-collection>
			<web-resource-name>AUTHENTICATED_RESOURCE</web-resource-name>
			<url-pattern>/pages/*</url-pattern>
			<url-pattern>/rest-service/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>org.imixs.ACCESSLEVEL.READERACCESS</role-name>
			<role-name>org.imixs.ACCESSLEVEL.AUTHORACCESS</role-name>
			<role-name>org.imixs.ACCESSLEVEL.EDITORACCESS</role-name>
			<role-name>org.imixs.ACCESSLEVEL.MANAGERACCESS</role-name>
		</auth-constraint>
	</security-constraint>
	<security-role>
		<role-name>org.imixs.ACCESSLEVEL.NOACCESS</role-name>
	</security-role>
	<security-role>
		<role-name>org.imixs.ACCESSLEVEL.READERACCESS</role-name>
	</security-role>
	<security-role>
		<role-name>org.imixs.ACCESSLEVEL.AUTHORACCESS</role-name>
	</security-role>
	<security-role>
		<role-name>org.imixs.ACCESSLEVEL.EDITORACCESS</role-name>
	</security-role>
	<security-role>
		<role-name>org.imixs.ACCESSLEVEL.MANAGERACCESS</role-name>
	</security-role>
</web-app>