<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>ShareYourWork</title>
<link rel="stylesheet" href="css/basic.css" type="text/css" />
<link rel="stylesheet" href="css/gfeed.css" type="text/css" />

<style>

.iconstyle {
 margin: 10px;
}	

</style>

<script type="text/javascript" src="dhtml.js"></script>
<script>


function Init() {
	  bildbereich = getElement("id", "iconarea1");

	  
	  for (var j = 0; j <= 10; j++) {
		  
		  for (var i = 0; i <= 9; i++) {
			  imgsrc="vwicn0"+j + i + ".png";
			  if (DOM && document.createElement && bildbereich.appendChild) {
				    var img = document.createElement("img");
				    img.setAttribute("src",imgsrc);
				    img.setAttribute("class","iconstyle");
				    img.setAttribute("title",imgsrc);
				    bildbereich.appendChild(img);
				   // alert('added'+imgsrc);
				  } 
			}
	  }



 	bildbereich = getElement("id", "iconarea2");

	  
	  for (var j = 0; j <= 5; j++) {
		  
		  for (var i = 0; i <= 9; i++) {
			  imgsrc="icon0"+j + i + ".png";
			  if (DOM && document.createElement && bildbereich.appendChild) {
				    var img = document.createElement("img");
				    img.setAttribute("src",imgsrc);
				    img.setAttribute("class","iconstyle");
				    img.setAttribute("title",imgsrc);
				    bildbereich.appendChild(img);
				   // alert('added'+imgsrc);
				  } 
			}
	  }
}

</script>
</head>

<body onload="Init()">




<h2>ShareYourWork - Icon Map</h2>

<h3>vwicnXXX.png 24x24</h3>
<div id="iconarea1" style="width:440px;"></div>

<h3>iconXXX.png 16x16</h3>
<div id="iconarea2" style="width:440px;"></div>

</body>
</html>